// Board definition for QEMU AArch64 virt machine.

(
    name: "qemu-aarch64",
    platform: "aarch64",

    memory: (
        regions: [
            ( name: "flash", base: 0x00000000, size: 0x04000000, kind: Rom  ),
            ( name: "ram",   base: 0x40000000, size: 0x08000000, kind: Ram  ),
            ( name: "uart",  base: 0x09000000, size: 0x00001000, kind: Mmio ),
        ],
        stack_size: 0x10000,
    ),

    devices: [
        (
            name: "uart0",
            compatible: "arm,pl011",
            driver: "pl011",
            services: ["Console"],
            resources: (
                mmio_base: Some(0x09000000),
                io_base: None,
                size: Some(0x1000),
                clock_freq: Some(24000000),
                baud_rate: Some(115200),
                irq: Some(33),
                bus_addr: None,
            ),
        ),
    ],

    stages: Monolithic((
        capabilities: [
            ConsoleInit( device: "uart0" ),
        ],
        load_addr: 0x40000000,
    )),

    security: (
        signing_algorithm: Ed25519,
        pubkey_file: "keys/dev-signing.pub",
        required_digests: [Sha256, Sha3_256],
    ),

    mode: Rigid,

    payload: None,
)
